<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <!--Nav Bar-->

    <mat-toolbar
      color="primary"
      style="background-color: rgb(85, 96, 212)"
    >
      <mat-toolbar-row style="min-height: 40px; height: 40px">
       <h2>Hotel management system</h2>

        <span class="example-spacer"></span>

          

      </mat-toolbar-row>

      <mat-toolbar-row style="min-height: 40px; height: 40px">
        <button
          mat-stroked-button
          style="background-color: transparent; color: white; border: none"
        >
         
           
        </button>

        <button
          mat-stroked-button
          style="background-color: transparent; color: white; border: none"
          (click)="batch()"
        >
          <img
            src="../../assets/group.png"
            class="img mx-2"
            alt="batch"
          />Room
        </button>

        <button
          mat-stroked-button
          style="background-color: transparent; color: white; border: none"
          (click)="onTeacher()"
        >
          <img
            src="../../assets/teacher.png"
            class="img mx-2"
            alt="assignment"
          />Reservation
        </button>

        <button
          mat-stroked-button
          style="background-color: transparent; color: white; border: none"
          (click)="onStudent()"
        >
          <img
            src="../../assets/student.png"
            class="img mx-2"
            alt="reports"
          />Customer
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!--Content-->

    <ng-container #container2></ng-container>

    <ng-container #container5></ng-container>

    <ng-container #container6></ng-container>

    <ng-container #container7></ng-container>
  </body>
</html>
