<form class="centered-form">
    <h2>Customer Management</h2>
    
    <!-- Add new customer form -->
    <form>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" id="firstName" name="firstName" required>
      </mat-form-field><br><br>
  
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" id="lastName" name="lastName" required>
      </mat-form-field><br><br>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" name="email" required>
      </mat-form-field><br><br>
  
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="tel" id="phoneNumber" name="phoneNumber" required>
      </mat-form-field><br><br>
  
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" id="address" name="address" required>
      </mat-form-field><br><br>
  
      <button mat-raised-button color="primary" type="submit">Add Customer</button>
    </form>
  
    <hr> 
    <!-- Customer List -->
     
<table mat-table 
    [dataSource]="customers" class="mat-elevation-z8">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.firstName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customer">
          <button mat-button color="primary" (click)="editCustomer(customer.id, updatedCustomer)">Edit</button>
        <button mat-button color="warn" (click)="deleteCustomer(customer)">Delete</button>
          <button mat-button (click)="viewCustomerDetails(customer)">View Details</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
  
  